.btn,
.alert,
.flag {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.name-cell {
  transition: all 0.25s;
  width: 100%;
}

.name-cell.active {
  background-color: lightgray;
}

.name-cell:hover {
  background-color: lightgray;
  cursor: pointer;
}

.delete-cell {
  line-height: 0px;
  padding: 0.5em;
  color: red;
  height: 1lh;
  width: 1lh;
  transition: all 0.25s;
}

.delete-cell:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}
